* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.img-div {
    position: absolute;
    background-size: cover;
    margin: 10px;
    border: solid 1px hsl(0, 0%, 73%);
}

.img-div:hover {
    cursor: pointer;
    background-color: rgb(200,200,200);
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#video {
    width: 100%;
    height: 100%;
}

#video:hover {
    cursor: pointer;  
}

.snapshot {
    width: 100%;
    height: 100%;
}
